name: LGTM Bot

on:
  issue_comment:
    types: [created]

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  lgtm:
    if: github.event.issue.pull_request != null
    runs-on: ubuntu-latest
    steps:
      - name: What is LGTM
        uses: actions-cool/what-is-lgtm@278dd452afcf2e27385e1a1f2d35eda6b6dc7e14
